*{
    overflow: hidden;
    font-family: "Eras Bold ITC", Helvetica, sans-serif;
}


body {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    margin: 0;
}


button {
    cursor: pointer;
}


.InProgress .FitBack{
    z-index: 1 !important;
}

.InProgress .Fit{
    z-index: 3 !important;
    pointer-events: none !important;
}

.InProgress #animatedContent{
    z-index: 2 !important;
}

.InProgress #animatedContent *{
    z-index: 2 !important;
}



.FitBack{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: -2;
    pointer-events: none;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;
}


.Fit{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;

}

#animatedContent{
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    z-index: 1;
}

#animatedContent *{
    z-index: 0;
}

.Slogan{
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

.Slogan img{
    width: 30vw;
    cursor: pointer;
}

#text{
    text-align: center;
    width: 100%;
    padding: 5px;
    font-weight: 700;
}


.Character{
    position: absolute;
    z-index: -1;
    left: 2.5%;
}

.Character img{
    width: 35vw;
}


#Time{
    position: absolute;
    top:5%;
    left:5%;
    z-index: 4;
}

#timer{
    font-size: 40px;
}

.MenuItem, .Difficulty {
    flex: 0.1;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}



.MenuItem button, .Difficulty button, #winButton{

    height: 100%;
    background-color: #E7E7E7;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: transparent;

}

.MenuItem button:hover, .Difficulty button:hover{
    transition: background-color 1000ms linear;
}

#start:hover{
    background-color: lightblue;
}

#leaderboards:hover{
    background-color: #FFF641;
}

#Easy:hover{
    background-color: lightgreen;
}

#Medium:hover{
    background-color: orange;
}

#Hard:hover{
    background-color: #E927FF;
}

.MenuItem button{
    width: 45%;
}

.Difficulty button{
    width: 30%;
}


.HideBoard{
    animation: hideBoard 1.5s forwards;
    -moz-animation: hideBoard 1.5s forwards;
    -webkit-animation: hideBoard 1.5s forwards;
    -o-animation: hideBoard 1.5s forwards;
}

.RevealBoard{
    animation: revealBoard 1.5s forwards;
    -moz-animation: revealBoard 1.5s forwards;
    -webkit-animation: revealBoard 1.5s forwards;
    -o-animation: revealBoard 1.5s forwards;
}


#CloseWindow{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    border:0;
    background-color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#CloseWindow:hover{
    background-color: #F5F5F5;
}

#topFive{
    z-index: 5;
    position: absolute;
    right: 0;
    top:0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.error{
    margin-top: 20px;
}


#topFive ul{
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

#topFive h3{
    padding-block: 12.5%;
    margin: 0;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

#topFive #EasyList h3{
    background-image: url("Resources/low.png");
}

#topFive #MediumList h3{
    background-image: url("Resources/medium.png");
}

#topFive #HardList h3{
    background-image: url("Resources/hard.png");
}

ul{
    overflow: scroll;
    -ms-overflow-style: none;
}

ul::-webkit-scrollbar {
    display: none;
}

.easy{
    background-color: greenyellow;
}

.medium{
    background-color: orange;
}

.hard{
    background-color: #A558CE;

}

.easy, .medium, .hard{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    font-weight: bold;
    padding: 7px;
}

.data{
    margin-inline: 10px;
}


#topFive li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-block: 1%;
}


button:focus, input:focus{
    outline: 0px;
}


#WinnerInput{
    width: 60%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding-block: 15px;

}

#WinnerInput h2{
    margin-block: 10px;
}

#winInput{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 7px;
    width: 75%;
}

#buttonLocation{
    width: 25%;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 10px;
}

#winButton{
    width: fit-content;
    justify-self: center;
    -webkit-align-self: center;
    align-self: center;
}

.toBeFound:hover{
    animation: shake 2s infinite;
    -moz-animation: shake 2s infinite;
    -webkit-animation: shake 2s infinite;
    -o-animation: shake 2s infinite;
}

.Hide{
    visibility: hidden;
    display: none !important;

}

.HideCharacter{
    animation: hideCharacter 1.5s forwards;
    -moz-animation: hideCharacter 1.5s forwards;
    -webkit-animation: hideCharacter 1.5s forwards;
    -o-animation: hideCharacter 1.5s forwards;
}

.RevealCharacter{
    animation: revealCharacter 1.5s forwards;
    -moz-animation: revealCharacter 1.5s forwards;
    -webkit-animation: revealCharacter 1.5s forwards;
    -o-animation: revealCharacter 1.5s forwards;
}

.HideSlogan{
    animation: hideSlogan 1.5s forwards;
    -moz-animation: hideSlogan 1.5s forwards;
    -webkit-animation: hideSlogan 1.5s forwards;
    -o-animation: hideSlogan 1.5s forwards;
}

.RevealSlogan{
    animation: revealSlogan 1.5s forwards;
    -moz-animation: revealSlogan 1.5s forwards;
    -webkit-animation: revealSlogan 1.5s forwards;
    -o-animation: revealSlogan 1.5s forwards;
}


.HideOnStart{
    visibility: hidden;
    display: none;
}

.HideWhenInGame{
    visibility: hidden;
    display: none;
}



@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }

    33% {
        transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);

    }

    66% {
        transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
    }


    100% {
        transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);

    }
}

@keyframes hide {
    0% {
        top: 30%;

    }

    100% {
        top: -20%;
    }
}

@keyframes reveal {
    0% {
        top: -20%;
    }

    100% {
        top: 30%;
    }
}

@keyframes revealCharacter {
    0% {
        bottom: -75%;

    }

    100% {
        bottom: 0%;

    }
}

@keyframes hideCharacter {
    0% {
        bottom: 0%;

    }

    100% {
        bottom: -75%;

    }
}

@keyframes revealSlogan {
    0% {
        top: -50%;

    }

    100% {
        top: 0%;

    }
}

@keyframes hideSlogan {
    0% {
        top: 0%;

    }

    100% {
        top: -50%;

    }
}

@keyframes revealBoard {
    0% {
        right: -100%;

    }

    100% {
        right: 0%;

    }
}

@keyframes hideBoard {
    0% {
        right: 0%;

    }


    100% {
        right: -100%;


    }
}


@media only screen and (max-height: 700px){
    .Character img{
        height: 60vh;
        width: auto;
    }
}




@media only screen and (max-height: 500px) {
    .MenuItem{
        flex: 0.15;
    }

    .Difficulty{
        flex: 0.15;
    }

    .Slogan img{
        display: none !important;
    }

    .Character img{
        display: none !important;
    }
}



@media only screen and (max-height: 250px) {


    .MenuItem{
        flex: 0.25;
    }

    .Difficulty{
        flex: 0.25;
    }
}



@media only screen and (max-width: 1200px){
    .Character img{
        width: auto;
        height: 35vh !important;
    }

    .Slogan img{
        width: auto;
        height: 20vh !important;
    }
}


@media only screen and (max-width: 500px) {


    .Difficulty, .MenuItem{
        flex: 0.3;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        width: 40%;
    }

    .MenuItem{
        flex: 0.2 !important;
    }


    .Difficulty button, .MenuItem button{
        height: 30%;
        width: 100%;
    }

    .MenuItem button{
        height: 45% !important;
    }

}

